* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-fonte-primaria: #727272;
    --cor-fonte-branca: #ffff;
    --cor-fundo-ativo: #39aae1;
    --fundo-azul-escuro: #21819F;
    --fundo-azul-medio: #2098bd;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 220;
    height: auto;
}

.menu {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-fonte-primaria);
    margin: 0 5px 0 5px
}

nav .active a, nav a:hover {
    background-color: var(--cor-fundo-ativo);
    color: var(--cor-fonte-branca);
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-position-y: 30%;
    background-size: cover;
    height: 680px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.banner_headline h1 {
    color: var(--cor-fonte-branca);
    font-size: 50px;
    color: #faf5f5;
    text-shadow: 0px 1px 0px #000000;
    max-width: 350px;
}

.banner_headbox {
    max-width: 350px;
    padding: 15px;
    border-radius: 5px;
    background-color: #21829fc5;
}

.banner_headline h2 {
    margin-top: 25px;
    font-size: 21px;
    color: #faf5f5;
    max-width: 350px;
}

.banner_options {
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    padding: 20px;
    color: var(--cor-fonte-branca);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner1 {
    height: 210px;
    background-color: #45b4d6;
}

.banner2 {
    height: 210px;
    background-color: #2098bd;
}

.banner3 {
    height: 210px;
    background-color: var(--fundo-azul-escuro);
}

.banner_title {
    font-size: 21px;  
}

.banner_desc {
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    font-size: 16px;
    border: 1px solid var(--cor-fonte-branca);
    padding: 5px;
    cursor: pointer;
    max-width: 80;
    text-align: center;
}

.banner_desc .banner_item {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff5e;
    padding: 8px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral section {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: var(--cor-fundo-ativo);
    margin-top: 10px;
}

article {
    flex: 1;
}

article a {
    text-decoration: none;
    color: inherit;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: var(--fundo-azul-escuro);
    color: var(--cor-fonte-branca);
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: var(--fundo-azul-medio);
    color: var(--cor-fonte-branca);
    font-size: 12px;
    padding: 10px;
}

article .news_card {
    width: 300px;
}

article .news_thumbnail img{
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

article .news_title {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
}

article .news_description {
    margin-top: 15px;
    line-height: 22px;
    font-size: 15px;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: var(--cor-fonte-branca);
    padding: 20px;
}

.fm_1 {
    background-color: #45b4d6;
}

.fm_2 {
    background-color: #2098bd;
}

.fm_3 {
    background-color: var(--fundo-azul-escuro);
}

.fm_titulo {
    font-size: 22px;
}

.fm_description {
    margin-top: 10px;
    font-size: 14px;
}

.footer_area {
    display: flex;
    color: #ffff;
}

.footer_areaitem {
    flex: 1;
    margin: 10px;
}

.flex-column {
    flex-direction: column;
}

footer .widget_title_text {
    color: #ffff;
}

footer .widget_body {
    font-size: 14px;
    line-height: 21px;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;
}

footer .widget_bodydivision .widget_fmitem {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

footer .widget_icons {
    margin-top: 20px;
    font-size: 22px;
}

.widget_topic {
    display: flex;
    color: var(--cor-fonte-branca);
    margin-bottom: 15px;
    line-height: 20px;
}

.widget_posts {
    display: flex;
    color: #8a8a8a;
    margin-bottom: 15px;
    line-height: 20px;
}

footer .widget_body a {
    text-decoration: none;
    color: inherit;
}

.widget_topic_arrow {
    margin-right: 10px;
}

.widget_topic_text {
}

.widget_topic_date {
    color: var(--cor-fundo-ativo);
}

.footer_copy {
    margin-top: 30px;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
}
